import {useQuery} from "@apollo/client";
import {Link} from "react-router-dom";
import {Button, Table} from 'reactstrap';
import API from '../apis';
import {AlertError} from '../../../components/alert';
import {ButtonLink} from '../../../components/button';
import Cell from '../../../components/table/cell';
import ButtonDelete from './button_delete';

export default function Table<%= modelNameCapitalCamel %>List() {
  const { loading, error, data, refetch } = useQuery(API.ALL, API.DEFAULT_OPTIONS);

  return (
    <>
      {error && <AlertError error={error} refetch={refetch} />}
      <Button onClick={refetch} size="sm" color="primary">Reload</Button>
      {' '}
      <ButtonLink to="/<%= baseUrl %>/add" size="sm" color="primary">Add</ButtonLink>

      <Table>
        <thead>
        <tr>
<% for (const field of fieldsArray) { -%>
          <th scope="col"><%= field.displayLabel %></th>
<% } -%>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          {data && data.<%= modelNameSnake %>_get_all.map(item => (
            <tr>
<% for (const field of fieldsArray) { -%>
              <Cell
                type="<%= field.type %>"
<%   if (field.dateFormat) { -%>
                dateFormat="<%= field.dateFormat %>"
<%   } -%>
<%   if (field.link) { -%>
                link={`<%= field.link %>`}
<%   } -%>
              >
                {item.<%= field.name %>}
              </Cell>
<% } -%>
              <td>
                <ButtonLink to={`/<%= baseUrl %>/${item.id}/edit`} color="primary" size="sm">Edit</ButtonLink>
                {' '}
                <ButtonDelete id={item.id} didDelete={refetch} color="danger" size="sm">Delete</ButtonDelete>
              </td>
            </tr>
          ))}
        </tbody>
      </Table>
    </>
  );
}
